
@{
    ViewBag.Title = "联系我们";
}
@section scripts{
    <script>
        $(()=>$("#home-contactus").addClass("selected"))
    </script>
}
<div class="title"><span class="title_icon"><img src="~/Content/Img/bullet1.gif" alt="" title="" /></span>联系我们</div>

<div class="feat_prod_box_details">
    <p class="details">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
    </p>

    <div class="contact_form">
        <div class="form_subtitle">所有项目都是必填</div>
        <div class="form_row">
            <label class="contact"><strong>姓名:</strong></label>
            <input type="text" class="contact_input" />
        </div>

        <div class="form_row">
            <label class="contact"><strong>电子邮箱:</strong></label>
            <input type="text" class="contact_input" />
        </div>


        <div class="form_row">
            <label class="contact"><strong>电话:</strong></label>
            <input type="text" class="contact_input" />
        </div>

        <div class="form_row">
            <label class="contact"><strong>公司:</strong></label>
            <input type="text" class="contact_input" />
        </div>


        <div class="form_row">
            <label class="contact"><strong>内容:</strong></label>
            <textarea class="contact_textarea"></textarea>
        </div>


        <div class="form_row">
            <a href="#" class="contact">发送</a>
        </div>
    </div>

</div>